%h1 Edit User Details

%form{ :action => '', :method => 'post' }
  %label Name:
  %input{ :type => 'text', :name => 'name', :placeholder => 'Enter Name' }
  %br
  %br
  %label Email:
  %input{ :type => 'text', :name => 'email', :placeholder => 'Enter Email' }
  %br
  %br
  %label Password:
  %input{ :type => 'text', :name => 'password', :placeholder => 'Enter Password' }
  %br
  %br
  %label Confirm Password:
  %input{ :type => 'text', :name => 'confirm_password', :placeholder => 'Confirm Password' }
  %br
  %br
  %label Gender:
  %input{ :type => 'text', :name => 'gender', :placeholder => 'Enter Gender' }
  %br
  %br
  %label Birth Date:
  %input{ :type => 'text', :name => 'dob', :placeholder => 'Enter Birth Date' }
  %br
  %br
  %input{ :type => 'submit', :value => 'Submit' }
